@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Kanit', sans-serif !important;
}

body {
  background-color: black;
  overflow-x: hidden;
}

