// navbar css starts
nav {
  position: relative;
  background-color: #232323;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 10;
  flex: 0 0 auto;
}
// navbar css ends

// sidebar css starts
// .sidebar {
.sidebar__container {
  position: absolute;
  background: black;
  width: 75%;
  padding: 1rem;
  z-index: 100;
  max-width: 300px;
  height: calc(100vh - 2rem);

  .menu_list {
    width: 80%;
    margin: 2rem auto;

    ul {
      li {
        display: flex;
        list-style: none;
        background-color: #151515;
        margin: 15px 0;

        border-top: solid #404040 1px;
        border-bottom: solid #404040 1px;

        .active {
            background-color: #d9d9d9;
            color: black;
        }

        a {
          width: 100%;
          padding: 0.7rem 0;
          text-align: center;
          text-decoration: none;
          text-transform: none;
        }
      }
    }
  }

  .logout_button {
    position: absolute;
    width: 90%;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background-color: #151515;
      border: solid #404040 1px;
      border-radius: 5px;
      padding: 0.7rem 4rem;
      margin: 0 auto;
    }
  }
}

.blur {
  height: 100vh;
  position: absolute;
  min-width: max(25%, calc(100% - 300px));
  background-color: #464646;
  opacity: 70%;
  right: 0;
  top: 0;
  z-index: 50;
}
// }
// sidebar css ends

// login css starts
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .main__container {
    width: 80%;
    max-width: 390px;
    padding: 1rem;
    background-color: #d9d9d9 !important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      background-color: #d9d9d9;
      color: black;
      margin: 1rem 0;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #d9d9d9;
      width: 80%;

      input {
        background: #fff;
        color: black;
        padding: 0.5rem 1rem;
        outline: none;
        border-radius: 10px;
        border: solid black 1px;
        width: 85%;
      }

      button {
        padding: 0.5rem 2rem;
        border: none;
        background-color: black;
        border-radius: 10px;
      }
    }
  }
}

// login css ends
